.reporter {    
    width: 300px;    
    padding-top: 25px;
}

.events-list {
    /* border: 1px solid rgba(0, 0, 0, 0.12);     */
    overflow-y: scroll;
    height: 100vh;        
}

.event-item {
    border-right: 1px solid rgba(0, 0, 0, 0.12); 
    border-top: 1px solid rgba(0, 0, 0, 0.12); 
    min-height: 65px;
}
